.main-content {
    
    padding-top: 50px;
    padding-bottom: 20px;
    
}

.profile-side{
    
    margin-top: 3%;
    margin-bottom: 3%;
    
}

.sidebar{
    
    color: #999999;
    
}

.sidebar-profile {
    
    box-shadow: 5px 5px 5px #808080;
    margin-bottom: 20%;
        
}

.sidebar-profile img {
display: block;
margin-left: auto;
margin-right: auto;
}